# Base de Datos
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=SpaceWork;encrypt=true;trustServerCertificate=true
DB_USERNAME=tu_usuario_bd
DB_PASSWORD=tu_password_bd

# JWT
JWT_SECRET=tu_secreto_jwt_muy_largo_y_seguro

# Email SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password

# Server
SERVER_PORT=8080
