# Base de Datos
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=SpaceWork;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=Klinzxd

# JWT
JWT_SECRET=spaceworkSecretKeyForJWTSecurity2026Token!

# Email SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=pruebas.spacework@gmail.com
MAIL_PASSWORD=password_smtp_app

# Server
SERVER_PORT=8080
